* {
    box-sizing: border-box;
    transition: all 0.2s ease;
    outline: 1px dashed blue;
}

html {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #363636;
}

body {
    display: block;
    margin: 0px;
    padding: 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    min-height: 100vh;
}

header {
    height: 100px;
    padding: 1.5rem 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    flex-wrap: wrap;
}

header nav .option {
    margin-left: 2rem;
    text-align: right;
    font-size: 0.75rem;
    text-transform: uppercase;
}

footer {
    padding: 2.5rem;
    background-color: #171717;
    color: white;
    font-size: 0.9rem;
}

.page-body {
    flex: 1;
    background: rgb(184, 184, 196);
}